.App {
    text-align: center;
}

.top-bar {
    display: flex;
    align-items: center;
    height: 50px;
    background-color: #333;
    position: relative;
}

.back-button {
    padding: 0.5em 1em;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    position: absolute;
    top: 0.5rem;
    left: 2rem;
    margin: 0;
}

.top-bar-title {
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin: 0 auto;
}

.buttons {
    margin: 4rem;
}

.finland-button {
    background-image: url('./images/Flag_of_Finland.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
    height: 75px;
    border: none;
    margin: 0 4rem 0 4rem;
}
.spain-button {
    background-image: url('./images/Flag_of_Spain.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
    height: 75px;
    border: none;
}
.usa-button {
    background-image: url('./images/Flag_of_USA.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
    height: 75px;
    border: none;
}

.movielist {
    display: flex;
    justify-content: center;
    margin: 5rem 0 0 0;
}

.movie {
    padding: 0 1rem 0 1rem;
}

.movietitle {
    padding: 0.5rem;
    margin: 0 1rem 0 1rem;
    font-family: 'Roboto';
}
