.App {
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form input {
    width: 300px;
    height: 60px;
    margin: 10px;
}

.movielist {
    display: inline;
    padding: 0;
    margin: 0;
    width: 100px;
    color: red;
}

.movietitle {
    padding: 0;
    margin: 0;
}
