.App {
    text-align: center;
}

.movielist {
    display: flex;
    justify-content: center;
    margin: 5rem 0 0 0;
}

.movie {
    padding: 0 1rem 0 1rem;
}

.movietitle {
    padding: 0.5rem;
    margin: 0 1rem 0 1rem;
    font-family: 'Roboto';
}
